<% provide(:title, "Complete Evaluations") %>
  <h1>Current Assigned Evaluations:</h1>
  <p>----------------------------------------------------------------------------------</p>
	
	<% projectss = Project.where(id: params[:id]) %>
  <% projectss.all.each do |s| %>
    <h2> <b><%=s.name %></h2>
      <% TeamMembership.where(team_id: TeamMembership.find_by(user_id: current_user.id).team_id).each do |y| %>
      <% x = User.find_by(id: y.user_id) %>
      <%# dont display if already submitted %>
      <% if not Eval.where(project_id: s.id, rating_id: current_user.id, rated_id: x.id).any? %>
        <%# in case an admin is assigned a group, it should not give them a rating %>
          <h2><%= x.name %></h2>
          <div class="row">
            <div class="col-md-6 col-md-offset-3">
              <%# access the rating controller to save the ratings by the user for each user %>
              <%= form_with(model: @eval, local: true) do |r| %>
                <%#Score%>
                <%= r.label :score %>
                <%= r.select :avg, options_for_select(1..10), { prompt: "" } %>
                  <%#Comment%>
                <%= r.label :comment %>
                <%= r.text_field :comment %>
                <%# send rater, ratee, and survey number %>
                <%= r.hidden_field :rating_id, value: (current_user.id) %>
                <%= r.hidden_field :rated_id, value: (x.id) %>
                <%= r.hidden_field :project_id, value: (s.id) %>
                <%# submit button %>
                <%= r.submit "Submit", class: "btn btn-primary", 'data-disable-with' => "Submitted"%>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>
    <p>----------------------------------------------------------------------------------</p>
  <% end %>
